.member-container {
    display: flex;
}
.text-container {
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
body {
    height: 100vh;
}
h1 {
    top: 100;
    color: var(--green)
}